.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 9;
   &.scroll {
      background-color: rgba(255, 255, 255, 0.99);
   }
   /* .header__container */

   &__container {
      display: grid;
      grid-template-columns: 200px auto 200px;
      align-items: center;
      column-gap: 2.0rem;
      @media (max-width: $tablets) {
         grid-template-columns: 150px 1fr;
         align-content: start;
         &.active {
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.99);
            overflow-y: auto;
         }
      }
   }

   /* .header__logo */

   &__logo {
      position: relative;
      z-index: 10;
      padding: 1.3rem 0px 1.3rem 0px;
   }

   /* .header__menu */

   &__menu {
      width: 100%;
      max-width: 60.0rem;
      justify-self: center;
      @media (max-width: $tablets) {
         display: none;
         // position: fixed;
         // height: 100%;
         grid-column: 1 / -1;
         grid-row: 2 / 3;
         right: 0;
         top: 0;
         
         padding: 20px;
         
         text-align: center;
         max-width: unset;
         &.active {
            display: block;
            
         }
      }
   }

   /* .header__button */

   &__button {
      border-radius: 53px;
      border: 3px solid #69BF3D;
      span {
         padding: 1.2rem 3.9rem;
         display: block;
      }
      @media (max-width: $tablets) {
         display: none;
         grid-column: 1 / -1;
         grid-row: 3 / 4;
         
         &.active {
            display: block;
            max-width: max-content;
            justify-self: center;
            
         }
      }
   }

   /* .header__burger */

   &__burger {
      display: none;
      justify-self: right;
      position: relative;
      height: 33px;
      
      span {
         position: relative;
         display: block;
         background: #000;
         width: 100px;
         height: 1px;
         z-index: 10;
         top: 50%;
         &::before {
            content: '';
            position: absolute;
            top: -15px;
            right: 0;
            background: #000;
            width: 100px;
            height: 1px;
         }
         &::after {
            content: '';
            position: absolute;
            bottom: -15px;
            right: 0;
            background: #000;
            width: 75px;
            height: 1px;
            transition: all 0.5s ease;
         }
         @media (max-width: $smallMobile) {
            width: 64px;
            &::before {
               width: 64px;
               top: -10px;
            } 
            &::after {
               width: 49px;
               top: 10px;
            }
         }
         
      }
      &.active {
         span::after {
            width: 100px;
            @media (max-width: $smallMobile) {
               width: 64px;
            }
         }
      }
      @media (max-width: $tablets) {
         display: block;
      }
   }
}
.menu {
   
   
   /* .menu__list */

   &__list {
      
      display: grid;
      grid-template-columns: repeat(4,auto);
      column-gap: 2.0rem;
      @media (max-width: $tablets){
         display: block;
         li {
            margin: 0px 0px 20px 0px;
            font-size: 2.8rem;
         }
      }
   }

   /* .menu__item */

   &__item {
      white-space: nowrap;
      
   }

   /* .menu__item--active */

   & a:hover {
      text-decoration: underline;
      text-decoration-color: #69BF3D;
      text-underline-offset: 4px;
   }
}

