// Font use @import
@import 'fonts';

// Resetting style

* {
   padding: 0;
   margin: 0;
   border: 0;
   &, &::before, &::after {
      box-sizing: border-box;
   }
}

a {
   color: inherit;
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: inherit;
}

button, input {
   font-family: inherit;
   font-weight: inherit;
   font-size: inherit;
   cursor: pointer;
   color: inherit;
   background-color: transparent;
}

// Main styles

html, body {
   height: 100%;
   min-width: 320px;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: Roboto, sans-serif;
}

.wrapper {
   height: 100%;
   width: 100%;
}

[class*="__container"] {
   max-width: 144rem;
   padding-left: clamp(3.0rem, 60px, 7.0rem);
   padding-right: clamp(3.0rem, 60px, 7.0rem);
   margin: 0 auto;
   @media (max-width: 768px) {
      padding: 0px 30px;
   }
}


// Modules

.title {
   font-size: clamp(35px, 64px, 6.4rem);
   text-transform: uppercase;
   line-height: 100%;
   font-family: Kanit, sans-serif;
}

.btn {
   span {
      text-wrap: nowrap;
   }
}



// Header scss import
@import 'header';

/*******************************************************************************************************************/

// main

main {
   height: 2000px;
}


// hero section

.hero {
   
   /* .hero__container */

   &__container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      row-gap: clamp(3.0rem, 70px, 8.0rem);
      justify-content: center;
      align-items: center;
   }

   /* .hero__header */

   &__header {
      text-align: center;
   }

   /* .hero__title */

   &__title {
   }

   /* .hero__subtitle */

   &__subtitle {
      position: relative;
      
      padding: 2.0rem 0px 2.0rem 0px;
      p {
         letter-spacing: 1.12px;
      }
      &::after {
         content: '';
         height: 2px;
         width: 61.8%; /* 309/500 */
         background-color: #69BF3D;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
      }
   }

   /* .hero__body */

   &__body {
   }

   &__button {
      border-radius: 41px;
      border: 1px solid #000;
      padding: 0.8rem 4.8rem 0.8rem 4.8rem;
      span {
         font-size: 1.6rem;
         line-height: 149%;
         position: relative;
         padding-left: 25px;
         &::before {
            position: absolute;
            content: '';
            left: -40px;
            top: 0;
            height: 32px;
            width: 32px;
            transform: translateY(-20%);
            background: url('@img/hero/button.svg');
         }
      }
   }

}

.body-hero {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 2.0rem;

   /* .body-hero__item */

   &__item {
   }
}
.item-hero {
   background: #2D2D2D;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5px;

   h4 {
      background: #FDFDFD;
      border-radius: 12px;
      text-align: center;
      font-size: clamp(1.6rem, 18px, 1.8rem);
      line-height: 100.5%;
      padding: 0.9rem 0px 0.9rem 0px;
   }
   
   &--1 {
      width: 175.137px;
      height: 169px;
      h4 {
         font-size: 1.8rem;
         letter-spacing: 1.26px;
      }
      
   }
   &--2 {
      width: 220.735px;
      height: 213px;
      
      h4 {
         font-size: 2.4rem;
         letter-spacing: 1.68px;
      }
   }
   &--3 {
      width: 155.447px;
      height: 150px;

      h4 {
         font-size: 1.6rem;
         letter-spacing: 1.12px;
      }
      
   }
   &--4 {
      width: 132.652px;
      height: 128.004px;
      h4 {
         font-size: 1.4rem;
         letter-spacing: 0.98px;
      }
      
   }

   

   /* .item-hero__sign */

   &__sign {
      flex: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   /* .item-hero__text */

   &__text {
      flex: 50%;
   }

   
}


