// Font use @import
@import 'fonts';

// Resetting style

* {
   padding: 0;
   margin: 0;
   border: 0;
   &, &::before, &::after {
      box-sizing: border-box;
   }
}

a {
   color: inherit;
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: inherit;
}

button, input {
   font-family: inherit;
   font-weight: inherit;
   font-size: inherit;
   cursor: pointer;
   color: inherit;
   background-color: transparent;
}



// Main styles

html, body {
   height: 100%;
   min-width: 320px;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: Roboto, sans-serif;
   &.scroll-lock {
      overflow: hidden;
   }
}

// variables

$pc: 1440px;
$tablets: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;

.wrapper {
   height: 100%;
   width: 100%;
   overflow-x: clip;
   
}




[class*="__container"] {
   max-width: 144rem;
   padding-left: clamp(3.0rem, 60px, 7.0rem);
   padding-right: clamp(3.0rem, 60px, 7.0rem);
   margin: 0 auto;
   @media (max-width: $tablets) {
      padding: 0px 20px;
   }
   @media (max-width: $smallMobile) {
      padding: 0px 10px;
   }
}



// Modules

.title {
   max-width: 100%;
   text-wrap: nowrap;
   white-space: nowrap;
   font-size: clamp(3.6rem, 12vw - 1.0rem, 64px);
   text-transform: uppercase;
   line-height: 100%;
   font-family: Kanit, sans-serif;
   position: relative;
}

.subtitle {
   position: relative;
      
      padding: 2.0rem 0px 1.0rem 0px;
      p {
         letter-spacing: 1.12px;
      }
   &--underlined {
      &::after {
         content: '';
         height: 2px;
         width: 61.8%; /* 309/500 */
         background-color: #69BF3D;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
      }
   }
}

.btn {
      display: inline-block;
      border-radius: 41px;
      border: 1px solid #000;
      
      span {
         text-wrap: nowrap;
         font-size: 1.6rem;
         line-height: 149%;
         position: relative;
         
         
      }
   
}

.btn--bullet {
   padding: 0.8rem 4.8rem 0.8rem 4.8rem;
      @media (max-width: $mobile) {
         padding: 0.8rem 0.8rem 0.8rem 1.8rem;
      }
   span {
      padding-left: 25px;
      &::before {
         position: absolute;
         content: '';
         left: -40px;
         top: 0;
         height: 32px;
         width: 32px;
         transform: translateY(-20%);
         background: url('@img/hero/button.svg');
         @media (max-width: $mobile) {
            left: -12px;
         }
      }
   }
}

.btn--white {
   background-color: #fff;

}

.btn--green {
   background-color: #69BF3D;
}

.green {
   color:#69BF3D;
}

.lines {
   &::before, &::after {
      position: absolute;
      content: '';
      width: 22vw;
      height: 1px;
      background: #69BF3D;
      top: 50%;
   }
   &::before {
      left: -31vw;
   }
   &::after {
      right: -31vw;
   }
}

// Header scss import
@import 'header';

/*******************************************************************************************************************/

// main

main {
   //height: 2000px;
   
   @media (max-height: 750px) or (max-width: $tablets) {
      margin-top: 15.0rem;
   }
   @media (max-height: 550px) or (max-width: $smallMobile) {
      margin-top: 11.0rem;
   }
}


// hero section

.hero {
   
   /* .hero__container */

   &__container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      row-gap: clamp(3.0rem, 70px, 8.0rem);
      justify-content: center;
      align-items: center;
      @media (max-height: 750px) or (max-width: $tablets) {
         height: unset;
         padding-bottom: 120px;
      }
      @media (max-width: $smallMobile){
         padding-bottom: 45px;
      }
   }

   /* .hero__header */

   &__header {
      text-align: center;
   }

   /* .hero__title */

   &__title {
   }

   /* .hero__subtitle */

   &__subtitle {
      
      
   }

   &__button {
      position: relative;
      border-radius: 41px;
      border: 1px solid #000;
      padding: 0.8rem 4.8rem 0.8rem 4.8rem;
      @media (max-width: $mobile) {
         padding: 0.8rem 0.8rem 0.8rem 1.8rem;
      }
      span {
         font-size: 1.6rem;
         line-height: 149%;
         position: relative;
         padding-left: 25px;
         
      }
      
   }

}

.body-hero {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2.0rem;
   max-width: 75rem;

   @media (max-width: $mobile) {
      max-width: 40rem;
      flex-wrap: wrap;
   }
   @media (max-width: $smallMobile) {
      gap: 1.0rem;
   }
}
.item-hero {
   background: #2D2D2D;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5px;
   min-width: 14.6rem;
   aspect-ratio: 14 / 13.5;
   box-shadow: 0px 18px 25px -3px rgba(0, 0, 0, 0.40);
   @media (max-width: $smallMobile) {
      box-shadow: none;
      min-width: 13.5rem;
   }
   h4 {
      background: #FDFDFD;
      border-radius: 12px;
      text-align: center;
      font-size: clamp(1.4rem, 18px, 2.4rem);
      letter-spacing: 0.98px;
      line-height: 100.5%;
      padding: 0.9rem 0px 0.9rem 0px;
      @media (max-width: $smallMobile) {
         font-size: 1.6rem !important;
      }
   }
   
   &--1 {
      // width: 175.137px;
      // height: 169px;
      flex: 1 1 23%;
      h4 {
         font-size: calc(1.0em + 0.1vw);
         //letter-spacing: 1.26px;
      }
      @media (max-width: $mobile) {
         order: 2;
      }
      
   }
   &--2 {
      // width: 220.735px;
      // height: 213px;
      flex: 1 1 30%;
      h4 {
         font-size: calc(1.2em + 0.3vw);
         //letter-spacing: 1.68px;
         @media (max-width: $mobile) {
            font-size: calc(1.0em + 0.1vw);
            
         }
      }
      @media (max-width: $mobile) {
         order: 1;
      }
   }
   &--3 {
      // width: 155.447px;
      // height: 150px;
      flex: 1 1 20.5%;
      h4 {
         font-size: calc(1.0em + 0.1vw);
         //letter-spacing: 1.12px;
      }
      @media (max-width: $mobile) {
         order: 3;
      }
   }
   &--4 {
      //width: 132.652px;
      //height: 128.004px;
      flex: 1 1 17.5%;
      h4 {
         font-size: calc(0.9em + 0.05vw);
         //letter-spacing: 0.98px;
      }
      @media (max-width: $mobile) {
         order: 4;
      }
      
   }

   

   /* .item-hero__sign */

   &__sign {
      flex: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         width: 30px;
         aspect-ratio: 1;
      }
      
   }

   /* .item-hero__text */

   &__text {
      flex: 50%;
      max-width: 100%;
   }

   
}

.about {
   background: #F6F6F6;
   padding: 120px 0px 120px 0px;

   @media (max-width: $smallMobile){
      padding: 45px 0px 50px 0px;
   }
		/* .about__container */

		&__container {
		}

		/* .about__body */

		&__body {
         max-width: 130rem;
         background-color: #2D2D2D;
         border-radius: 50px;
         box-shadow: 0px 18px 25px -3px rgba(0, 0, 0, 0.40);
         display: flex;
         overflow: hidden;
         @media (max-width: $mobile) {
            flex-direction: column;
         }
		}

		/* .about__content */

		&__content {
         flex: 1 0 55%;
         padding: 45px 45px 60px 70px;
         
         color: #F6F6F6;
         @media (max-width: $tablets) {
            padding: 45px 30px 50px 50px;
         }
         @media (max-width: $mobile) {
            padding: 45px 20px 30px 20px;
         }
		}

		/* .about__title */

		&__title {
         margin: 0px 0px 35px 0px;
		}

		/* .about__text */

		&__text {
         font-size: 1.4rem;
         position: relative;
         margin: 0px 0px 0px 35px;
         max-width: 450px;
         letter-spacing: 0.98px;
         p {
            &:not(:last-child) {
               margin-bottom: 40px;
            }
         }
         &::before {
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            background-color: #69BF3D;
            left: -35px;
            
         }
         &:not(:last-child) {
            margin-bottom: 60px;
         }
         @media (max-width: $mobile) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: unset;
            max-width: unset;
            column-gap: 50px;
            &:not(:last-child) {
               margin-bottom: 40px;
            }

            &::before {
               display: none;
               
            }
            p {
               position: relative;
               max-width: 300px;
               margin: 0px 0px 0px 20px;
               &::before {
                  content: '';
                  position: absolute;
                  width: 3px;
                  height: 100%;
                  background-color: #69BF3D;
                  left: -20px;
                  
               }
               &:not(:last-child) {
                  margin-bottom: unset;
               }
            }
         }
         @media (max-width: $smallMobile) {
            display: block;
            p {
               &:not(:last-child) {
                  margin-bottom: 40px;
               }
            }
         }
		}

		/* .about__subtitle */

		&__subtitle {
         max-width: 450px;
         font-size: 1.2rem;
         letter-spacing: 1.68px;
         color: #D9D9D9;
         @media (max-width: $mobile) {
            max-width: unset;
         }
		}

		/* .about__art */

		&__art {
         flex: 1 1 45%;
         padding: 70px 70px 70px 90px;
         position: relative;
         display: flex;
         align-items: center;
         justify-content: center;
         img {
            max-width: 100%;
            position: relative;
            z-index: 1;
         }
         &::after {
            background: radial-gradient(109.84% 205.47% at 49.93% 0%, #000 28.94%, #69BF3D 100%);
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            //z-index: 5;
            height: 100%;
            width: 100%;
         }
         @media (max-width: $tablets) {
            padding: 50px 50px 50px 50px;
         }
         
		}

		/* .about__slogan */

		&__slogan {
		}

   
}


.portfolio {
   background-color: #F6F6F6;
   padding-top: 40px;
   padding-bottom: clamp(4.0rem, 8vw - 2rem, 15.0rem);
   /* .portfolio__container */

   &__container {
   }

   /* .portfolio__header */

   &__header {
      text-align: center;
      padding-bottom: 40px;
   }

   /* .portfolio__title */

   &__title {
      font-size: clamp(3.0rem, 8vw - 2rem, 64px);
   }

   /* .portfolio__subtitle */

   &__subtitle {
      
      width: max-content;
      margin: 0 auto;
      &::after {
         width: 100%;
      }
      @media (max-width: $smallMobile) {
         white-space: pre-line;
      }
   }

   /* .portfolio__body */

   &__body {
      border-radius: 50px;
      background-color: #D9D9D9;
      display: flex;
      justify-content: space-between;
      position: relative;
      &::before {
         content: '';
         position: absolute;
         top: 32%;
         left: 0;
         height: 37%;
         aspect-ratio: 2 /0.8;
         background: url('@img/portfolio/Аа.svg') no-repeat;
         z-index: 2;
         @media (max-width: $mobile) {
            display: none;
         }
      }
      @media (max-width: $mobile) {
         flex-direction: column-reverse;
      }
   }
}

.body-portfolio {

   /* .body-portfolio__content */

   &__content {
      flex: 1 1 55%;
      position: relative;
      z-index: 5;
   }
}
.content-portfolio {
   //max-width: 375px;
   
   padding: clamp(3.0rem, 8vw - 2rem, 12.0rem);
   padding-right: clamp(2.0rem, 8vw - 2rem, 3.0rem);;

   /* .content-portfolio__title */

   &__title {
      margin-bottom: 30px;
      color: #0F0F0F;
      font-family: Kanit;
      font-size: clamp(3.6rem, 8vw - 2rem, 64px);
      font-weight: 300;
      text-transform: uppercase;
      line-height: 100%;
   }

   /* .content-portfolio__item */

   &__item {
     
   }
}
.item-content {
   max-width: 375px;
   &:not(:last-child) {
      margin-bottom: 40px;
   }
   img {
      max-width: 100%;
   }
   h5 {
      color:  #0F0F0F;
      font-size: 40px;
      font-weight: 500;
      line-height: 100%; /* 40px */
      letter-spacing: 2.8px;
      margin-bottom: 20px;
   }
   p:not(:last-child) {
      margin-bottom: 25px;
   }
   p:first-of-type {
      font-size: 13px;
      font-weight: 500;
      line-height: 100%; /* 13px */
      letter-spacing: 0.91px;
   }
   p:last-of-type {
      font-size: 13px;
      font-weight: 700;
      line-height: 100%; /* 13px */
      letter-spacing: 0.65px;
   }

   /* .item-content__subject */

   &__subject {
      color: #0F0F0F;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      line-height: 100%; /* 24px */
      letter-spacing: 0.72px;
      text-transform: uppercase;
      padding: 0px 0px 10px 0px;
      img {
         max-width: 100%;
      }
   }
}
.body-porfolio {

   /* .body-porfolio__slider */

   &__slider {
      flex: 0 1 45%;
      min-height: 100%;
   }
}
.slider-portfolio {
   border-radius: 50px;
   background: radial-gradient(29.44% 50% at 50% 50%, #424242 0%, #2D2D2D 100%);
   box-shadow: -15px 0px 25px 0px rgba(0, 0, 0, 0.40);
   padding-bottom: 40px;
   padding-top: clamp(3.0rem, 12vw - 2rem, 100px);
   padding-left: clamp(1.0rem, 8vw - 2rem, 30px);
   padding-right: clamp(1.0rem, 8vw - 2rem, 30px);
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   /* .slider-portfolio__content */

   &__content {
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // align-items: center;
      flex: 1 1 auto;
      padding-bottom: 2.0rem;
      img {
         max-width: 100%;
         transition: all 0.3s ease 0s;
         &:hover {
            transform:scale(1.01);
         }
      }
   }

   /* .slider-portfolio__preview */

   &__preview {
      margin-bottom: 20px;
   }

   /* .slider-portfolio__view */

   &__view {
      display: inline-block;
      border: unset;
      border-radius: 28px;
      padding: 12.5px 65px;
   }

   /* .slider-portfolio__footer */

   &__footer {
   }
}

.footer-slider {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: clamp(1.0rem, 8vw - 2rem, 30px);

   /* .footer-slider__left */

   &__left {
      img {
         width: clamp(4.0rem, 8vw - 2rem, 55px);
         transform: rotate(180deg);
      }
      
   }

   /* .footer-slider__button */

   &__button {
      padding-left: clamp(2.0rem, 8vw - 2rem, 30px);
      padding-right: clamp(2.0rem, 8vw - 2rem, 30px);
      span {
         &::before {
            left: clamp(-1.2rem, 8vw - 2rem, -20px);;
         }
      }
   }

   /* .footer-slider__right */

   &__right {
      img {
         width: clamp(4.0rem, 8vw - 2rem, 55px);
         
      }
   }
}



.services {
   padding-top: clamp(4.0rem, 8vw - 2rem, 12.0rem);
   padding-bottom: clamp(8.0rem, 8vw - 2rem, 17.0rem);

   /* .services__container */

   &__container {
      text-align: center;
   }

   /* .services__title */

   &__title {
      display: inline-block;
      margin-bottom: clamp(4.0rem, 8vw - 2rem, 14.5rem);
   }

   /* .services__body */

   &__body {
   }
}

.body-services {
   //height: 32.0rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 50px;
   background: #2D2D2D;
   box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.40);
   padding: 35px 0px 35px 0px;
   padding-left: clamp(1.0rem, 8vw - 6rem, 3.0rem);
   padding-right: clamp(1.0rem, 8vw - 6rem, 3.0rem);
   //overflow: hidden;
   @media (max-width: $tablets) {
      display: block;
   }

   /* .body-services__left-btn */

   &__left-btn {
      transform: rotate(180deg);
      padding-left: clamp(1.0rem, 6vw - 6rem, 2.0rem);
      img {
         width: clamp(4.0rem, 8vw - 2rem, 55px);
         @media (max-width: $tablets) {
            display: none;
         }
      }
      
   }

   /* .body-services__items */

   &__items {
      flex: 0 1 auto;
      
      @media (max-width: $tablets) {
         flex: 0 0 auto;
      }
   }

   /* .body-services__right-btn */

   &__right-btn {
      padding-left: clamp(1.0rem, 6vw - 6rem, 2.0rem);
      img {
         width: clamp(4.0rem, 8vw - 2rem, 55px);
         @media (max-width: $tablets) {
            display: none;
         }
      }
      
   }
}
.items-services {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   gap: clamp(1.0rem, 6vw - 6rem, 2.0rem);
   overflow-x: auto;
   //scrollbar-width: thin;
   // -ms-overflow-style: none;  /* IE and Edge */
   // scrollbar-width: none;  /* Firefox */
   @media (hover: hover) {
      &::-webkit-scrollbar {
         height: 7px;
         background-color: #f9f9fd;
       }
      &::-webkit-scrollbar-thumb {
         background-color: #BAB7B6;
      }
   }
   
 

   //overflow-x: auto;

   /* .items-services__item */

   &__item {
      flex: 0 1 25.0rem;
      width: min(250px, 100%);
      aspect-ratio: 1 / 1;
      //min-height: 100%;
      border-radius: 25px;
      background: #FFF;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      @media (max-width: $tablets) {
         flex: 0 0 auto;
         margin-bottom: 10px;
         // @media (hover: hover) {
            
         // }
         
      }
   }

   /* .items-services__content */

   &__content {
      flex: 0 0 auto;
      padding-bottom: clamp(1.0rem, 6vw - 6rem, 2.0rem);
   }

   /* .items-services__button */

   &__button {
      color: #fff;
      border-radius: 31px;
      padding: clamp(0.8rem, 6vw - 6rem, 1.5rem) clamp(1.5rem, 6vw - 6rem, 5.0rem);
      border: none;
   }
}

.content-services {
   text-align: left;

   /* .content-services__title */

   &__title {
      font-size: clamp(1.6rem, 6vw - 6rem, 2.4rem);
      font-weight: 700;
      line-height: 100%; /* 24px */
      letter-spacing: 0.72px;
   }

   /* .content-services__text */

   &__text {
      font-family: Kanit;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 100%; /* 16px */
      letter-spacing: 0.48px;
   }
}



.choose {
   background-color: #F6F6F6;
   padding-top: clamp(4.0rem, 8vw - 2rem, 12.0rem);
   padding-bottom: clamp(4.0rem, 8vw - 2rem, 8.0rem);

   /* .choose__container */

   &__container {
      text-align: center;
   }

   /* .choose__title */

   &__title {
      font-size: clamp(3.6rem, 8vw - 1rem, 64px);
      text-transform: none;
      margin-bottom: 25px;
      text-wrap: balance;
      //max-width: 100%;
   }

   /* .choose__subtitle */

   &__subtitle {
      max-width: 25rem;
      margin: 0 auto;
      margin-bottom: clamp(4.0rem, 8vw - 2rem, 7.0rem);
   }

   /* .choose__call-to-action */

   &__call-to-action {
      position: relative;
   }
}

